<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css"
      integrity="sha512-phGxLIsvHFArdI7IyLjv14dchvbVkEDaH95efvAae/y2exeWBQCQDpNFbOTdV1p4/pIa/XtbuDCnfhDEIXhvGQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/contact.css" />
    <link rel="icon" href="../assets/synapse brain.png" />
    <script src="../js/script.js" defer></script>
    <title>Synapse | Register</title>
  </head>
  <body>
    <header>
      <a href="/" class="imgcontainer">
        <div>
          <img
            class="synapse-logo"
            src="../assets/synapse-logo.svg"
            draggable="false"
          />
        </div>
      </a>
      <nav>
        <ul class="mainmenu">
          <li><a href="/">Home</a></li>
          <li><a href="/forum">Forum</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <% if( name ){ %>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="reg-btn" type="submit">Log Out</button>
      </form>
      <% } else{ %>
      <a class="log-btn" href="/login"
        ><button class="reg-btn">Login</button></a
      >
      <% } %>

      <button class="light-check">
        <img class="light-img" src="../assets/brightness.png" />
      </button>
      <% if (name) { %>
      <div class="name-user" style="user-select: none"><%= name %></div>
      <% } %>
      <button class="hamburger">
        <div class="bar"></div>
      </button>
    </header>

    <nav class="mobile-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="contact-box">
        <div class="contact">
          <h3>Contact Page</h3>
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>Name</label>
                <input style="color: white" type="text" placeholder="" />
              </div>
              <div class="input-group">
                <label>Phone</label>
                <input style="color: white" type="text" placeholder="" />
              </div>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>Email</label>
                <input style="color: white" type="email" placeholder="" />
              </div>
              <div class="input-group">
                <label>Subject</label>
                <input style="color: white" type="text" placeholder="" />
              </div>
            </div>

            <label>Message</label>
            <textarea
              style="color: white"
              rows="5"
              placeholder="Your Message..."
            ></textarea>

            <button class="contact-btn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
