<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css"
      integrity="sha512-phGxLIsvHFArdI7IyLjv14dchvbVkEDaH95efvAae/y2exeWBQCQDpNFbOTdV1p4/pIa/XtbuDCnfhDEIXhvGQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/forum.css" />
    <link rel="icon" href="../assets/synapse brain.png" />
    <script src="../js/script.js" defer></script>
    <title>Synapse | Forum</title>
  </head>
  <body>
    <header>
      <a href="/" class="imgcontainer">
        <div>
          <img
            class="synapse-logo"
            src="../assets/synapse-logo.svg"
            draggable="false"
          />
        </div>
      </a>
      <nav>
        <ul class="mainmenu">
          <li><a href="/">Home</a></li>
          <li><a href="/forum">Forum</a></li>
          <li><a href="/resources">Resources</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <% if( name ){ %>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="reg-btn" type="submit">Log Out</button>
      </form>
      <% } else{ %>
      <a class="log-btn" href="/login"
        ><button class="reg-btn">Login</button></a
      >
      <% } %>

      <button class="light-check">
        <img class="light-img" src="../assets/brightness.png" />
      </button>
      <% if (name) { %>
      <div class="name-user" style="user-select: none"><%= name %></div>
      <% } %>
      <button class="hamburger">
        <div class="bar"></div>
      </button>
    </header>

    <nav class="mobile-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- <section class="top-bar">
      <div class="bar-title">Synapse Community Forum</div>
      <div class="bar-below">
        The Synapse community forum is a place where you can ask questions and
        get answers from other Synapse users.
      </div>
      <input
        style="color: white; width: 20rem"
        type="text"
        class="form-input"
        placeholder="Search..."
        autocomplete="off"
      />
      <img class="search-img" src="../assets/search.png" />
    </section> -->
    <section class="top-bar">
      <div class="bar-container">
        <div
          class="bar-title"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          Synapse Community Forum
        </div>
        <div class="bar-below">
          A place where you can ask questions and get answers from other Synapse
          users.
        </div>
        <input
          style="color: white; width: 20rem"
          type="text"
          class="form-input"
          placeholder="Search"
          autocomplete="off"
        />
        <img class="search-img" src="../assets/search.png" />
      </div>
    </section>

    <section class="forum-cards">
      <div class="forum-card">
        <div class="card-top">
          <h2>
            Commercially available AIs or chatbots that you can explicitly
            teach/train?
          </h2>
          <h4>
            posted 3 hrs ago
            <span>by <u>peppermint-kiss</u></span>
          </h4>
        </div>
        <div class="card-options">
          <div class="card-option">
            <i class="fas fa-arrow-alt-circle-up"></i>
            <span>Upvote</span>
          </div>
          <div class="card-option">
            <i class="fas fa-comment-dots"></i>
            <span>Comment</span>
          </div>
          <div class="card-option">
            <i class="fas fa-share-alt-square"></i>
            <span>Share</span>
          </div>
        </div>
      </div>
      <div class="forum-card">
        <div class="card-top">
          <h2>What if AI ran a city? What if it ran society?</h2>
          <h4>
            posted 18 hrs ago
            <span>by <u>canadian-weed</u></span>
          </h4>
        </div>
        <div class="card-options">
          <div class="card-option">
            <i class="fas fa-arrow-alt-circle-up"></i>
            <span>Upvote</span>
          </div>
          <div class="card-option">
            <i class="fas fa-comment-dots"></i>
            <span>Comment</span>
          </div>
          <div class="card-option">
            <i class="fas fa-share-alt-square"></i>
            <span>Share</span>
          </div>
        </div>
      </div>
      <div class="forum-card">
        <div class="card-top">
          <h2>
            Joaquin Phoenix as the Joker - restyled as a Tim Burton animation
            using AI
          </h2>
          <h4>
            posted 1 day ago
            <span>by <u>whats-dn</u></span>
          </h4>
        </div>
        <div class="card-options">
          <div class="card-option">
            <i class="fas fa-arrow-alt-circle-up"></i>
            <span>Upvote</span>
          </div>
          <div class="card-option">
            <i class="fas fa-comment-dots"></i>
            <span>Comment</span>
          </div>
          <div class="card-option">
            <i class="fas fa-share-alt-square"></i>
            <span>Share</span>
          </div>
        </div>
      </div>
      <div class="forum-card">
        <div class="card-top">
          <h2>Emergence of Offensive and Defensive Behaviors in AI</h2>
          <h4>
            posted 2 days ago
            <span>by <u>blobxsw</u></span>
          </h4>
        </div>
        <div class="card-options">
          <div class="card-option">
            <i class="fas fa-arrow-alt-circle-up"></i>
            <span>Upvote</span>
          </div>
          <div class="card-option">
            <i class="fas fa-comment-dots"></i>
            <span>Comment</span>
          </div>
          <div class="card-option">
            <i class="fas fa-share-alt-square"></i>
            <span>Share</span>
          </div>
        </div>
      </div>
      <div class="forum-card">
        <div class="card-top">
          <h2>I made a Terminator AI. Help me.</h2>
          <h4>
            posted 3 days ago
            <span>by <u>totally-serious</u></span>
          </h4>
        </div>
        <div class="card-options">
          <div class="card-option">
            <i class="fas fa-arrow-alt-circle-up"></i>
            <span>Upvote</span>
          </div>
          <div class="card-option">
            <i class="fas fa-comment-dots"></i>
            <span>Comment</span>
          </div>
          <div class="card-option">
            <i class="fas fa-share-alt-square"></i>
            <span>Share</span>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="left-footer">
        <div class="footer-title">Limitless Possibilities.</div>
        <div class="social-media-links">
          <a href="https://twitter.com" class="fab fa-twitter"></a>
          <a href="https://discord.com" class="fab fa-discord"></a>
          <a href="https://instagram.com" class="fab fa-instagram"></a>
          <a href="https://youtube.com" class="fab fa-youtube"></a>
        </div>
      </div>
      <ul class="right-footer">
        <li>
          <h2>Explore</h2>
          <ul class="box">
            <li><a href="/">Home</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </li>
        <li>
          <h2>Social</h2>
          <ul class="box">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Discord Server</a></li>
            <li><a href="#">Dribbble</a></li>
          </ul>
        </li>
        <li class="features">
          <h2>Information</h2>
          <ul class="box">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Certifications</a></li>
          </ul>
        </li>
        <li>
          <h2>Legal</h2>
          <ul class="box">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </li>
      </ul>
      <div class="break-line"></div>
      <img class="img-footer" src="../assets/synapse-logo.svg" alt="" />
      <div class="register-btn-footer">
        <a href="/register" class="register2"
          ><button class="reg-btn">Register</button></a
        >
      </div>

      <div class="bottom-footer">All Rights Reserved by Synapse &copy;</div>
    </footer>
  </body>
</html>
