@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --purple: hsl(260, 86%, 57%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(51, 28, 109);
  height: 100%;
  font-family: "Work Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: hsl(262, 80%, 6%);
}

::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  border-radius: 1px;
  border: 4px solid transparent;
  width: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(151, 151, 202);
}

li,
a,
button {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;

  transition: background-color 0.2s ease 0s;
}
.black-bg {
  background-color: black;
}

.imgcontainer {
  width: max(250px, 15%);
  /* width: 15%; */
  margin-right: auto;
}

.synapse-logo {
  cursor: pointer;
  width: 100%;
}

.mainmenu {
  list-style: none;
}

.mainmenu li {
  display: inline-block;
  padding: 0px 20px;
  transition: transform 0.3s ease 0s;
}

.mainmenu li:hover {
  transform: translate(0px, -2px);
}

.mainmenu li a {
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease 0s;
}

button.reg-btn {
  padding: 9px 25px;
  margin-left: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button.reg-btn:hover {
  transform: translate(0px, -2px);
  background: white;
  color: black;
}

.light-check {
  margin: 0 2rem 0 2rem;
  width: 30px;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}

.light-img {
  filter: grayscale(1) invert(1);
  -webkit-filter: grayscale(1) invert(1);
  width: 100%;
  cursor: pointer;
}

/* SECTION ONE */

.section-one {
  padding: 15rem 10%;
  height: 60vh;

  background: url("../assets/about-us-bg.png");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-one .section-text {
  color: white;

  font-weight: 400;
  text-shadow: 1px 1px 20px black;
}

.section-one .section-text .title {
  font-family: "Montserrat", monospace;
  font-weight: 1000;
  font-size: 4em;
  line-height: 120%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .section-one {
    padding: 15rem 5%;
  }
  .section-one .section-text .title {
    font-size: 3em;
  }
}

.small-span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 3vh;
}

/* WHITE LINE */
.white-line-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  width: 15%;
  height: 1px;
  background-color: white;
}

/* MAIN SECTION */

.main-section {
  padding: 6rem 15% 4rem 15%;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: inherit;

  background-color: black;

  gap: 2rem;
}

.main-objective {
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.main-objective .title {
  font-family: "Montserrat", monospace;

  font-size: 2.5em;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .main-objective .title {
    font-size: 2em;
  }
}

.main-objective .objective-text {
  margin-top: 2rem;
}

.main-objective-pt {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.how-we-do-it,
.what-goes-into-it {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

@media screen and (max-width: 1490px) {
  .how-we-do-it,
  .what-goes-into-it {
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }

  .how-we-do-it img,
  .what-goes-into-it img {
    width: 100%;
  }
}

/* .how-we-do-it > *,
.what-goes-into-it > * {
  margin: auto;
} */

.how-we-do-it img,
.what-goes-into-it img {
  width: 100%;
  margin: auto 0;
}

.how-we-do-it img::before,
.what-goes-into-it img::before {
  -moz-box-shadow: inset 0px 0px 8px 4px #fff;
  -webkit-box-shadow: inset 0px 0px 8px 4px #fff;
  box-shadow: 0 0 8px 8px #fff inset;
}

.how-we-do-it p,
.what-goes-into-it p {
  line-height: 150%;
}

.how-we-do-it .title,
.what-goes-into-it .title {
  font-family: "Montserrat", monospace;

  font-size: 2rem;
  margin-bottom: 4rem;
}

/* FOOTER */
footer {
  /* margin-top: 10%; */
  padding: 5vh 7.5% 0 7.5%;
  background-color: rgb(0, 0, 20);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 6rem 6rem 2rem 5rem 5rem;
  grid-auto-rows: minmax(150px, auto);
  width: 100%;
  grid-template-areas:
    "left right right"
    "left right right"
    "line line line"
    "img img btn"
    "img img btn"
    "bottom bottom bottom";
  grid-auto-flow: column dense;
}

.left-footer {
  grid-area: left;
}

.left-footer .footer-title {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.left-footer .social-media-links {
  display: flex;
  justify-content: flex-start;
}

.left-footer .social-media-links a {
  font-size: 1.5rem;
  margin-right: 2rem;
  margin-top: 2rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease 0s, text-shadow 0.3s ease 0s;
}

.left-footer .social-media-links a:nth-child(1):hover {
  color: rgb(28, 156, 234);
}

.left-footer .social-media-links a:nth-child(2):hover {
  color: rgb(110, 132, 210);
}

.left-footer .social-media-links a:nth-child(3):hover {
  color: rgb(162, 70, 220);
}

.left-footer .social-media-links a:nth-child(4):hover {
  color: rgb(255, 0, 0);
}

.right-footer {
  grid-area: right;
  list-style: none;
  display: flex;

  justify-content: space-around;
  gap: 10%;
  flex-wrap: wrap;
}

.right-footer ul {
  list-style: none;
  margin-top: 15%;
}

.right-footer ul li {
  margin-top: 10%;
}

.right-footer ul li:hover {
  text-decoration: underline;
}
.right-footer h2 {
  font-weight: bold;
}

.break-line {
  grid-area: line;
  align-self: center;
  text-align: center;
  height: 1px;
  width: 100%;
  background-color: white;
}

.img-footer {
  height: calc(25% + 1rem);
  grid-area: img;
  align-self: center;
  text-align: center;
}

.register-btn-footer {
  grid-area: btn;
  align-self: center;
  text-align: right;
}

.register-btn-footer a button {
  padding: 9px 25px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.register-btn-footer a button:hover {
  transform: translate(0px, -2px);
  background: white;
  color: black;
}

.bottom-footer {
  grid-area: bottom;
  align-self: center;
  text-align: center;

  font-size: 1.1rem;
  color: rgb(153, 153, 153);
}

@media only screen and (max-width: 1045px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "left"
      "right"
      "line"
      "img"
      "btn"
      "bottom";
  }

  .right-footer {
    margin-top: 2rem;
  }
  .right-footer li {
    margin-top: 3rem;
  }
  .img-footer {
    align-self: center;
    text-align: center;
  }
}

/* HAMBURGER */
.hamburger {
  display: block;
  width: 30px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #070014;
  padding-top: 140px;
  transition: 1s;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav a {
  font-size: 2rem;
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 0 auto 16px;
  padding: 12px 16px;
}

.mobile-nav.is-active {
  left: 0;
}

.hamnav {
  display: block;
  text-align: center;
  padding: 5px;
  font-size: 60px;
  font-family: "Work Sans", sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.hamnav:hover {
  color: white;
}

@media only screen and (min-width: 1200px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .mainmenu {
    display: none;
  }

  .log-btn {
    display: none;
  }
}

.dark-mode {
  filter: grayscale(1) invert(1);
  -webkit-filter: grayscale(1) invert(1);
}
.invert {
  filter: grayscale(1) invert(1);
  -webkit-filter: grayscale(1) invert(1);
}

.light-img {
  filter: grayscale(1) invert(1);
  -webkit-filter: grayscale(1) invert(1);
  width: 100%;
}

.light-check {
  margin: 0 2rem 0 2rem;
  width: 30px;
  background: none;
  appearance: none;
  outline: none;
  border: none;
}
